<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="always"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
            <directory suffix=".php">domain</directory>
            <directory suffix=".php">exceptions</directory>
            <directory suffix=".php">factories</directory>
            <directory suffix=".php">infrastructures</directory>
            <directory suffix=".php">repositories</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <!--<logging>-->
        <!--<log-->
            <!--type="coverage-html"-->
            <!--target="/usr/share/nginx/coverage/laravel-api-sample"-->
            <!--title="Base32"-->
            <!--charset="UTF-8"-->
            <!--yui="true"-->
            <!--highlight="true"-->
            <!--lowUpperBound="35"-->
            <!--highLowerBound="70"-->
        <!--/>-->
    <!--</logging>-->
</phpunit>
